#good{
    color: blue;
    background-color: bisque;
    border-style: calc();
    font-style: italic;
}

#go{
    color: rgb(0, 255, 136);
    background-color: rgb(199, 122, 28);
    border-style: calc();
    font-style: italic;
}